<!DOCTYPE html>
<html>
<head>
    <title>Ansible Production Lab</title>
</head>
<body>
    <h1>Application deployed using Ansible</h1>

    <p>Server: {{ inventory_hostname }}</p>
    <p>Environment: {{ environment }}</p>
</body>
</html>
